<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BitGo</title>
        <link rel="stylesheet" href="../css/icons/iconic-glyphs.css">
        <link rel="stylesheet" href="../css/reset-3.0.0.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/grid.css">
        <link rel="stylesheet" href="../css/app-container.css">
        <link rel="stylesheet" href="../css/animations.css">
        <link rel="stylesheet" href="../css/newd.css">
    </head>
    <body>

       <div id="window-container" class="window-container">


            <nav class="app-main-menu-container reveal">

                <div class="app-main-menu-inner container">

                </div>

            </nav>


            <div class="app-main-content-container container">
                <div class="app-main-content-inner no-side-padding">


                     <span id="app-menu" class="app-menu-wrapper no-select iconic iconic-header" data-glyph="menu"></span>

                    <!-- LEFT COLUMN -->
                    <span class="sidebar-container sb-left">

                        <div class="sb-header-container">
                            <div class="sb-header">
                                <span class="sb-logo"></span>
                            </div>
                        </div>

                        <ul class="sb-nav-items">
                            <li class="nav-item">
                                <span class="icon close-placeholder"></span>
                                <span class="text"></span>
                            </li>

                            <li class="nav-item active">
                                <a href="portwallets.html">
                                    <span class="icon iconic iconic-md iconic-nav" data-glyph="bitcoin"></span>
                                    <span class="text">Portfolio</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <span class="icon iconic iconic-md iconic-nav" data-glyph="graph"></span>
                                <span class="text">Market</span>
                            </li>

                            <li class="nav-item">
                                <span class="icon iconic iconic-md iconic-nav" data-glyph="envelope-closed"></span>
                                <span class="text">Notifications</span>
                            </li>

                            <li class="nav-item bottom">
                                <span class="icon iconic iconic-md iconic-nav" data-glyph="cog"></span>
                                <span class="text">Settings</span>
                            </li>
                        </ul>

                    </span>


                    <!-- MIDDLE CONTENT -->
                    <span class="main-content-container med">

                        <span class="main-content-header-container">
                            <div class="mc-header mch-slider">

                                    <span class="title header hidden-tablet-vertical">Bitcoin Wallets</span>

                                    <!-- ACTION ICONS -->
                                    <ul class="mc-header-nav-items right">
                                        <li class="nav-item fast active">
                                            <span class="icon iconic iconic-md" data-glyph="bitcoin"></span>
                                        </li>
                                        <li class="nav-item fast">
                                            <span class="icon iconic iconic-md" data-glyph="transfer"></span>
                                        </li>
                                    </ul>

                            </div>
                        </span>

                        <span class="main-content-body-container">


                            <!-- HEADER TILE -->
                            <div class="mcb-content-header-tile-container">
                                <div class="mcb-content-header-tile">

                                    <span class="title title-2 dark">BitGo Secure Wallets</span>

                                    <!-- SUB HEADER ACTION ICONS -->
                                    <!-- <ul class="mcb-content-header-tile-nav-items right">
                                        <li class="nav-item fast">
                                            <span class="title title-2"></span>
                                            <span class="icon iconic iconic-md" data-glyph="plus"></span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                            <!-- CONTENT AREA FOR HEADER TILE -->
                            <div class="mcb-content-item-container">
                                <div class="mcb-content-item">

                                </div>
                            </div>


                        </span>
                    </span>

                    <!-- RIGHT COLUMN -->
                    <span class="sidebar-container sb-right">
                        <div class="sb-header-container">
                            <div class="sb-header">
                                <span class="sb-logo"></span>
                            </div>
                        </div>

                        <div class="sb-content-items-container">

                            <div class="sb-content-item-container">
                                <div class="sb-content-item-header">
                                    <span class="sb-title sb-title-sm">Current BTC Price</span>
                                </div>
                                <div class="sb-content-item">
                                    <span class="sb-title sb-cap-title-med">$ 673.23</span>
                                </div>
                            </div>

                            <div class="sb-content-item-container">
                                <div class="sb-content-item-header">
                                    <span class="sb-title sb-title-sm">Yesterday's Price</span>
                                </div>
                                <div class="sb-content-item">
                                    <span class="sb-title sb-cap-title-med">$ 639.82 (<span class="iconic green" data-glyph="caret-top"></span> 3.43%)</span>
                                </div>
                            </div>

                            <div class="sb-content-item-container">
                                <div class="sb-content-item-header">
                                    <span class="sb-title sb-title-sm">Daily Range</span>
                                </div>
                                <div class="sb-content-item">
                                    <span class="sb-title sb-cap-title-med">$ 630.04 - 644.71</span>
                                </div>
                            </div>

                            <div class="sb-content-item-container">
                                <div class="sb-content-item-header">
                                    <span class="sb-title sb-title-sm">30-Day Range</span>
                                </div>
                                <div class="sb-content-item">
                                    <span class="sb-title sb-cap-title-med">$ 438.78 - 693.17</span>
                                </div>
                            </div>

                            <div class="sb-content-item-container">
                                <div class="sb-content-item-header">
                                    <span class="sb-title sb-title-sm">Market Cap</span>
                                </div>
                                <div class="sb-content-item">
                                    <span class="sb-title sb-cap-title-med">$ 7.941 B.</span>
                                </div>
                            </div>
                        </div>

                    </span>

                </div>

            </div>

        </div>

        <script src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/amcharts/amcharts.js"></script>
        <script type="text/javascript" src="../js/amcharts/serial.js"></script>
        <script type="text/javascript" src="../js/amcharts/themes/none.js"></script>
        <script src="../js/data.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>










